


    <h3>    <a href="/membertimeline/{{id}}"> {{firstName}} {{lastName}}
      {{#if profilePic.data}}
        <img class="ui tiny image" src="/getProfilePic/{{id}}" style="float: right;" /> </a>
      {{/if}}
    </h3>


