{{> adminmenu _id="mine" }}


<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      {{> tweet }}
    </aside>
    <div class="ui ten wide column">
      {{> mytweetlist }}
    </div>
  </div>
</section>
