{{> welcomemenu }}


<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/bigbird.jpg" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Twitter ain't got nothin on me</header>
      <p> Nobody can hear the voice in your head </p>
    </article>
  </div>
</section>