{{> adminmenu _id="report" }}


<section class="ui stacked segment">
  <div class="ui grid">

    {{> followerbuttons }}

    <div class="ui ten wide column">
      {{> mytweetlist }}
    </div>
  </div>
</section>
