{{> mainmenu _id="settings" }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">
        <form action="/settingsupdate" method="POST" enctype="multipart/form-data">
          <!--enctype="multipart/form-data" has to be included for image to display-->
          <h3 class="ui header">Settings</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input value="{{user.firstName}}" type="text" name="firstName">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input value="{{user.lastName}}" type="text" name="lastName">
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <input value="{{{user.email}}}" type="text" name="email">
          </div>
          <div class="field">
            <label>Change Profile Pic</label>
            <input type="file" name="profilePic">
          </div>
          <button class="ui blue submit button">Submit</button>
        </form>
        {{> formerror }}
      </div>
    </div>
    <aside class="ui five wide column">

      <img class="ui medium image" src="/getProfilePic/{{user._id}}" />


    </aside>
  </div>
</section>