{{> mainmenu _id="none" }}


<section class="ui stacked segment">
  <div class="ui grid">
      {{> followerbuttons }}
    <div class="ui ten wide column" style="float: right;">
      {{> tweetlist }}
    </div>
  </div>
</section>
